<!DOCTYPE html>
<html>
<head>
	<script src="/public/vendor/jquery/jquery-3.2.1.min.js"></script>
	<link rel='stylesheet' href='/public/stylesheets/style.css'/>
</head>
<body>

	<form action="/mall/myaccount_update" method="get">
		<table border="1">
			<input type="hidden" name="idx" value="<%=row.idx%>"/>
			<tr>
				<td>이름</td>
				<td><%=row.name%></td>
			</tr>
			<tr>
				<td>나이</td>
				<td><%=row.age%></td>
			</tr>
			<tr>
				<td>성별</td>
				<td><%=row.sex%></td>
			</tr>
			<tr>
				<td>거주지</td>
				<td><%=row.address%></td>
			</tr>
			<tr>
				<td>전화번호</td>
				<td><%=row.phoneNO%></td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><%=row.password%></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td><%=row.email%></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">정보 수정</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>